.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__links-list {
  display: flex;
  gap: 34px;
  text-underline-offset: 3px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
  list-style: none;
}

.header__address {
  justify-self: end;
}

.address_list {
  list-style: none;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0/ 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text {
  z-index: 2;
  display: block;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.description {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  border: none;
  padding: 0;
  color: #fff;
  line-height: 127%;
  background: transparent;
}

.letter-spacing-extended {
  z-index: 2;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  z-index: 2;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin: 180px 24px auto;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 32px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card-link {
  height: 100%;
  text-decoration: none;
  list-style: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
  text-underline-offset: 5px;
}

.card__title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  margin: 120px 24px 180px;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  margin-left: 28px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 28px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  padding: 0 50px 82px 51px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.footer__address {
  justify-self: start;
  line-height: 135%;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-underline-offset: 4px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 48px;
  text-decoration: none;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
